
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
.Main {
  background-color: rgb(119, 79, 7);
  font-family: Rubik Distressed, cursive;
  .title {
    padding-top: 5rem;
    text-align: center;
    font-size: 36px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }

      /* Media query for tablet */
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 100%;
        .desc {
          font-size: 30px;
        }
      }
      .desc {
        position: absolute;
        bottom: 0;
     
        width: 100%;
        height: 50%;
        opacity: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.603);
   
        overflow-y: auto; 
      
        color: white;
      }

      .desc::-webkit-scrollbar {
        display: none;
      }
      &:hover .desc {
      
        animation-name: effect;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
      @keyframes effect {
        0% {
          opacity: 1;
          height: 15%;
        }
        50% {
          opacity: 1;
          height: 35%;
        }
        100% {
          opacity: 1;
          height: 50%;
        }
      }
      color: rgb(205, 137, 12);
      width: 25vw;
      height: 20vw;
      position: relative;

      .card-image {
        // object-fit: cover;
        width: inherit;
        height: inherit;
      }

      h2 {
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: black;
        width: 4em;
        border-radius: 0 10px 10px 10px;
      }

      p {
        background-color: black;
        position: absolute;
        width: 11em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        text-align: center;
        z-index: 1;
      }
    }
  }
}
